In [10]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix,classification_report,r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [12]:
Task2=pd.read_excel(r"D:\kunal_cdac_blr_notes\ML\TASK_TWO.xlsx")

Task2

,SUMMARY OUTPUT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regression Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Multiple R,0.993861,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R Square,0.98776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adjusted R Square,0.984539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Standard Error,3.452575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Observations,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ANOVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,df,SS,MS,F,Significance F,NaN,NaN,NaN
10,Regression,5,18277.514737,3655.502947,306.662585,0.0,NaN,NaN,NaN
11,Residual,19,226.485263,11.920277,NaN,NaN,NaN,NaN,NaN
12,Total,24,18504.0,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Coefficients,Standard Error,t Stat,P-value,Lower 95%,Upper 95%,Lower 95.0%,Upper 95.0%
15,Intercept,-40.5429,11.324154,-3.580214,0.001996,-64.244627,-16.841172,-64.244627,-16.841172
16,rain,0.112519,0.043427,2.590997,0.017926,0.021625,0.203412,0.021625,0.203412
17,water,-0.078869,0.037748,-2.089352,0.050364,-0.157876,0.000139,-0.157876,0.000139
18,dust,0.287486,0.09777,2.94044,0.008397,0.082852,0.49212,0.082852,0.49212
19,air,0.438565,0.111414,3.936339,0.000886,0.205372,0.671758,0.205372,0.671758
20,mud,0.948056,0.038845,24.405974,0.0,0.866752,1.02936,0.866752,1.02936
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,RESIDUAL OUTPUT,NaN,NaN,NaN,NaN,PROBABILITY OUTPUT,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Observation,Predicted yield,Residuals,Standard Residuals,NaN,Percentile,yield,NaN,NaN
27,1,101.484161,-1.484161,-0.483133,NaN,2,10,NaN,NaN
28,2,20.553942,-0.553942,-0.180323,NaN,6,10,NaN,NaN
29,3,69.666926,0.333074,0.108424,NaN,10,10,NaN,NaN
30,4,7.814346,2.185654,0.711487,NaN,14,20,NaN,NaN
31,5,74.94411,0.05589,0.018194,NaN,18,20,NaN,NaN
32,6,74.37623,-4.37623,-1.424576,NaN,22,50,NaN,NaN
33,7,69.81294,5.18706,1.688523,NaN,26,50,NaN,NaN
34,8,92.039864,2.960136,0.963601,NaN,30,70,NaN,NaN
35,9,54.844252,-4.844252,-1.57693,NaN,34,70,NaN,NaN
36,10,65.777401,4.222599,1.374566,NaN,38,70,NaN,NaN
37,11,101.484161,-1.484161,-0.483133,NaN,42,70,NaN,NaN
38,12,20.553942,-0.553942,-0.180323,NaN,46,70,NaN,NaN
39,13,69.666926,0.333074,0.108424,NaN,50,70,NaN,NaN
40,14,7.814346,2.185654,0.711487,NaN,54,70,NaN,NaN
41,15,74.94411,0.05589,0.018194,NaN,58,70,NaN,NaN
42,16,74.37623,-4.37623,-1.424576,NaN,62,75,NaN,NaN
43,17,69.81294,5.18706,1.688523,NaN,66,75,NaN,NaN
44,18,92.039864,2.960136,0.963601,NaN,70,75,NaN,NaN
45,19,54.844252,-4.844252,-1.57693,NaN,74,75,NaN,NaN
46,20,65.777401,4.222599,1.374566,NaN,78,75,NaN,NaN
47,21,73.042488,-3.042488,-0.990409,NaN,82,75,NaN,NaN
48,22,12.315095,-2.315095,-0.753624,NaN,86,95,NaN,NaN
49,23,77.194484,-2.194484,-0.714362,NaN,90,95,NaN,NaN
50,24,69.87548,0.12452,0.040534,NaN,94,100,NaN,NaN
51,25,74.94411,0.05589,0.018194,NaN,98,100,NaN,NaN

In [14]:
x=Task2[["rain","water","dust","air","mud"]]

KeyError: "None of [Index(['rain', 'water', 'dust', 'air', 'mud'], dtype='object')] are in the [columns]"

In [16]:
y=Task2['yield']

KeyError: 'yield'

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
# vif=pd.DataFrame(Task2)

In [94]:
vif['features']=x.columns
vif['VIF'] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
vif['VIF']=round(vif['VIF'],2)
vif=vif.sort_values(by="VIF",ascending= False)
vif

In [98]:
coeff=model.coef_

intercept=model.intercept_

[ 0.11172609 -0.09376292  0.27327126  0.42684685  0.96675731]
-39.96535179439215

In [100]:
coeff

array([ 0.11172609, -0.09376292,  0.27327126,  0.42684685,  0.96675731])

In [102]:
intercept

-39.96535179439215

In [122]:
line_eq=coeff*[40]+intercept
line_eq

array([-35.49630809, -43.71586849, -29.03450142, -22.89147787,
        -1.29505956])

In [104]:
y_pred=model.predict(x_test)

In [106]:
y_pred

array([ 55.04165058,  69.12383776, 101.19138112,  69.34844508,
        19.90347616,  65.85964487,   7.18837672,  19.90347616])

In [108]:
data=pd.DataFrame({"Predicted":y_pred,"Actual":y_test})

In [110]:
data

     Predicted  Actual
8    55.041651      50
16   69.123838      75
0   101.191381     100
23   69.348445      70
11   19.903476      20
9    65.859645      70
13    7.188377      10
1    19.903476      20

In [114]:
r2_score(y_pred,y_test)

0.9880605806788832

In [132]:
mae = mean_absolute_error(y_test, y_pred) 
mse = mean_squared_error(y_test, y_pred) 
rmse = mse

In [134]:
rmse

10.857229475310525

In [136]:
mae

2.4882218687802755

In [138]:
mse

10.857229475310525